body{
    margin: 0;
}
@font-face {
    font-family: 'open-sans';
    src: url('/assets/fonts/open-sans-v36-latin-300.woff2') format('woff2');
  }
  @font-face {
    font-family: 'open-sans-latin-500';
    src: url('/assets/fonts/open-sans-v36-latin-500.woff2') format('woff2');
  }